extends layout

block content
  nav#mainNav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
          span.sr-only Toggle navigation
          i(style="font-size:16px").icon.iconfont.icon-nav.text-primary
        a.navbar-brand.page-scroll(href='#page-top') #{bridegroom} & #{bride}
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a.page-scroll(href='#about') 关于我们
          li
            a.page-scroll(href='#event') 时间地点
          li
            a.page-scroll(href='#gallery') 相册
          li
            a.page-scroll(href='#contact') 送上祝福
      // /.navbar-collapse
    // /.container-fluid
  header
    .header-content
      .header-content-inner
        h1#homeHeading 我们结婚啦
        hr
        p
          | #{date} ♥ #{location}
        a.btn.btn-primary.btn-xl.page-scroll(href='#about') 我们的故事
  section#about.bg-primary
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading 我们的故事
          h3.section-subheading.text-muted 第一章
      .row
        .col-lg-12
          ul.timeline
            li
              .timeline-image
                img.img-circle.img-responsive(src='img/about/1.jpg', alt='')
              .timeline-panel
                .timeline-heading
                  h4.text-normal 1987年4月 1988年3月
                  h4.subheading.text-normal 出生
                .timeline-body
                  i.text-faded.text-normal 也是我的颜值巅峰
            li.timeline-inverted
              .timeline-image
                img.img-circle.img-responsive(src='img/about/2.jpg', alt='')
              .timeline-panel
                .timeline-heading
                  h4.text-normal 2002年9月
                  h4.subheading.text-normal 相识
                .timeline-body
                  i.text-faded.text-normal
                    | 恩，因为被分到了一个班上
            li
              .timeline-image
                img.img-circle.img-responsive(src='img/about/3.jpg', alt='')
              .timeline-panel
                .timeline-heading
                  h4.text-normal 2005年?月?日
                  h4.subheading.text-normal 相恋
                .timeline-body
                  i.text-faded.text-normal
                    | 毛主席连党的生日都能忘，所以这种事就不用在意了
            li.timeline-inverted
                  .timeline-image
                    img.img-circle.img-responsive(src='img/about/4.jpg', alt='')
                  .timeline-panel
                    .timeline-heading
                      h4.text-normal 2016年9月19日
                      h4.subheading.text-normal 求婚
                    .timeline-body
                      i.text-faded.text-normal
                        | 图案仅供参考，请以实物为准
            li.timeline-inverted
              .timeline-image
                h4
                  | To Be
                  br
                  | Continued.
  section#event
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading 时间地点
          hr.primary
    .container
      .row
        .col-lg-6.col-md-6.text-center
          .service-box
            i.icon.iconfont.icon-bhjwedding.text-primary.sr-icons
            h3 婚礼仪式
            p #{date}中午于#{address}进行
        .col-lg-6.col-md-6.text-center
          .service-box
            i.icon.iconfont.icon-juhui.text-primary.sr-icons
            h3 回门宴
            p #{feast_date}于#{feast_address}进行
  section#gallery.bg-primary
    .container
      .row
        .col-lg-12.text-center
          h2.section-heading.text-center 相册
          h3.section-subheading.text-faded.text-normal 图片未经PS，随时可能被要求替换图片，请于24小时内删除
    .container-fluid
      .row.no-gutter.popup-gallery
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/1.jpg')
            img.img-responsive(src='img/portfolio/thumbnails/1.jpg', alt='')
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/2.jpg')
            img.img-responsive(src='img/portfolio/thumbnails/2.jpg', alt='')
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/3.jpg')
            img.img-responsive(src='img/portfolio/thumbnails/3.jpg', alt='')
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/4.jpg')
            img.img-responsive(src='img/portfolio/thumbnails/4.jpg', alt='')
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/5.jpg')
            img.img-responsive(src='img/portfolio/thumbnails/5.jpg', alt='')
        .col-lg-4.col-sm-6
          a.portfolio-box(href='img/portfolio/fullsize/6.jpg')
            img.img-responsive(src='img/portfolio/thumbnails/6.jpg', alt='')
  section#contact
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h2.section-heading 送上祝福
          hr.primary
      .row.no-gutter.popup-gallery
        .col-lg-6.col-md-6.text-center
          a.portfolio-box(href='img/contact/weixin.jpg')
            i(style="color:#62b900").icon.iconfont.icon-weixin.sr-contact
          p 微信号：#{weixin}
        .col-lg-6.col-md-6.text-center
          a.portfolio-box(href='img/contact/alipay.jpg')
            i(style="color:#0080ff").icon.iconfont.icon-zhifubao.text-primary.sr-contact
          p 支付宝账号：#{alipay}
  a(href="https://github.com/nieyaolong/wedding")
    i(style="color:#E0E0E0").icon.iconfont.icon-github
